.blicker {
    background: red;
}
#div1:hover {
    background-color: yellow;
}

body {
    font-family: "Helvetica Neue";
    font-size: 25px;
    background-color: #f5f5dc;
    text-align: center;
}
